version: "3"

services:

  node:
    image: node:16
    working_dir: /app
    volumes:
      - ./:/app
    container_name: blogs_api
    tty: true
    stdin_open: true
    command: bash -c "npm install && npm start"
    depends_on:
      - db
    ports:
      - 3000:3000
    environment:
      DATABASE_HOST: db
      DATABASE_USER: "${DATABASE_USER}"
      DATABASE_PASSWORD: "${DATABASE_PASSWORD}"
      JWT_SECRET: "${JWT_SECRET}"

  db:
    container_name: blogs_api_db
    image: postgres
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: "${DATABASE_PASSWORD}"
      TZ: "${TIMEZONE}"
